# Node.js dependencies
/node_modules

# VitePress Build output and cache
*/.vitepress/dist
*/.vitepress/cache

# Local environment files (if you have them)
.env.local
.DS_Store

# VitePress specific (if you are not using the default config directory)
# /dist
# /temp